.listingDetailAndContactContainer {
    display: flex;
    flex-wrap: wrap;
    @media screen and (min-width: $lg_breakpoint) {
        padding: 5rem 3rem;
        justify-content: space-around;
    }
}

.listingDetailContainer {
    width: 100%;
    @media screen and (min-width: $lg_breakpoint) {
        width: 50%;
    }
    @media screen and (min-width: $xl_breakpoint) {
        width: 60%;
    }
}
.listingDetailImageContainer {
    display: flex;
    justify-content: center;
    border: 1px solid $light-grey;
    background-color: white;
    padding: 2rem 0;
    img {
        width: 90%;
        height: 100%;
        object-fit: cover;
    }
}
.listingDescriptionTextWrap {
    padding: 1rem 5rem;
}
.listingDetailDescriptionContainer {
    position: relative;
    p {
        font-size: 1.5rem;
    }
}
.listingDetailDescriptionTitle {
    font-size: 1.7rem;
    font-weight: normal;
}
.listingDetailShowMoreText {
    text-align: center;
    font-weight: normal;
    font-size: 1.5rem;
    color: $light-blue;
    position: relative; //needed for z-index
    z-index: 1;
}

.listingDetailDescriptionFade {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    background: linear-gradient(180deg, hsla(0, 0%, 100%, 0) 0, #f8f9f9 85%);
    height: 15rem;
    z-index: 0;
}
.listingDetailContactContainer {
    background-color: white;
    padding: 2rem;
    margin: 0 2rem 4rem 2rem;
    width: 100%;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    @media screen and (min-width: $lg_breakpoint) {
        width: 45%;
        margin: 0;
        max-height: 20rem;
    }
    @media screen and (min-width: $xl_breakpoint) {
        width: 35%;
    }
}

.listingDetailProfileImageAndNameWrap {
    display: flex;
    align-items: center;
    img {
        width: 8rem;
        height: 8rem;
        border-radius: 50%;
        margin-right: 2rem;
    }
    h3 {
        font-size: 1.8rem;
        font-weight: 300;
    }
}

.contactAndMemberWrap {
    h3 {
        font-size: 1.3rem;
        font-weight: 300;
    }
}
