nav {
    z-index: 2;
    width: 100%;
    background-color: white;
    padding: 1rem 2rem;
    .logo {
        // width: 17rem;
        // @media screen and (min-width: $md_breakpoint) {
        //     width: 20rem;
        // }
        cursor: pointer;
    }
}

.headerInfoWrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    @media screen and (min-width: $md_breakpoint) {
        flex-wrap: nowrap;
    }
}

.headerProfileAndPostWrap {
    display: flex;
    align-items: center;
}

.profileText,
.navAuthStatus {
    cursor: pointer;
    color: $light-blue;
    font-size: 1.5rem;
    margin-right: 1rem;
    @media screen and (min-width: $sm_breakpoint) {
        font-size: 2rem;
        margin-right: 1.5rem;
    }

    @media screen and (min-width: $md_breakpoint) {
        font-size: 2rem;
    }
}
.navAuthStatusHide {
    display: none;
}

.postAdButton {
    padding: 1rem;
    @media screen and (min-width: $md_breakpoint) {
        padding: 1.2rem;
    }
    background-color: $purple;
    color: white;
    font: 1.4rem "Larsseit-Bold";
    box-shadow: 0 2px 10px 0 rgba(55, 51, 115, 0.3);
    border-radius: 0.4rem;
    transition: background-color 0.2s linear;
    cursor: pointer;
}

.displaySearchbar {
    display: block;
    width: 100%;
    @media screen and (min-width: $md_breakpoint) {
        width: 55%;
    }
    @media screen and (min-width: $lg_breakpoint) {
        width: 65%;
    }
}
.hideSearchbar {
    display: none;
}
